// Font Size
$fontSize: 18px;
$fontSizeSideBar: 20px;

// Header
$colorBackgroundHeader: #F3F3F3;

// Page titles
$widthMainPage: 70%;
$padding: 0px 0px 0px 0px;
$titleColor: #BBB;
$backgroundTitle: linear-gradient(to bottom, #301651, #371553, #3f1455, #461257, #4e1058);
$heightTitle: 50px;
$paddingTitle: 10px;
$marginBottomTitle: 50px;
$lineHeighttitle: 80px;