.field {
  .field-input {
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #E74A7F;
    background: transparent!important;
    height: 100%;
    width: 100%;
  }
  // .form-control {
  //   border-bottom: 1px solid;
  //   border-color: #E74A7F;
  // }
  .form-control:focus {
    border-color: none;
    box-shadow: none;
  }
  
}
